body{
    background-color: darkgrey;
}

div{
    margin: 8px;
}

main{
    display: flex ;
    flex-direction: column;
    ;
}
.content{
    display: flex;
}

.box{
    border-radius: 7px;
    border: black solid;
    background-color: #292b2e;
    color: whitesmoke;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

